<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/xulythem" method="post" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="title" value=""><br><br>
      <input type="text" name="desc" placeholder="desc" value=""><br><br>
      <input type="file" name="hinhsanpham" placeholder="image" value=""><br><br>
      <input type="text" name="idPhim" placeholder="id" value=""><br><br>
      <input type="submit" value="Them sp">
    </form>
  </body>
</html>
